<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="es-ES" xml:lang="es-ES">
<head>
<title>Beach Sunset |  Plantillas Web Gratis</title>
<meta name="description" content="Beach Sunset | Plantillas de sitios web gratis - ¡descargue ahora! ¡Visite nuestra colección de plantillas web gratis y elija las mejores plantillas gratuitas para su negocio en línea o para su sitio web personal totalmente gratis!"/><meta content="text/html; charset=utf-8" http-equiv="Content-Type"/><link href="/css/styles.css" type="text/css" rel="stylesheet"/><style type="text/css">
                html,body {
                    overflow:hidden;
                    height:100%;
                    margin:0;
                    padding:0;
                }
                #tframe {
                    width:100%;
                    height:100%;
                    overflow:auto;
                }
                .frame_menu{
                    position: absolute;
                    top: 10px;
                    left:100%;
                    color:#fff;
                    font-size:11px;
                }

                .frame_menu a{
                    color:#fff;
                    white-space:nowrap;
                }

                .frame_menu a.like-button {
                    color: #0387d8;
                    margin: 4px 0;
                }

                .frame_menu img{
                    margin-right:5px;
                    vertical-align:text-bottom;
                }
                .comment_image {
                    margin-top:5px
                }
                .botton {
                    margin:5px 0;
                }

                #image_container {
                    width: 938px;
                    text-align: center;
                    min-height: 85px;
                    max-height: 110px;
                    overflow: hidden;
                    padding-top: 10px;
                }

                #spinner {
                    padding: 27px 0;
                }

                .cb_logo {
                    display: inline-table;
                    float: right;
                    text-align: right;
                    margin: 2px 6px 0 0;
                }

                #image_container a.out_link {
                    display: block;
                    float: left;
                    margin:  0 5px;
                    width: 124px;
                }
            </style><!--[if IE]><link type="text/css" rel="stylesheet" href="/css/ie.css"/><![endif]--><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script><script src="/js/cufon-yui.js" type="text/javascript"></script><script src="/js/MyriadPro_Regular_400.font.js" type="text/javascript"></script><script src="/js/MyriadPro_Light_300.font.js" type="text/javascript"></script><script src="/js/MyriadPro_Semibold_600.font.js" type="text/javascript"></script><script type="text/javascript">
                Cufon.replace('.MyriadPro-Light',{fontFamily:'MyriadPro_Light'});
                Cufon.replace('.MyriadPro-Regular',{fontFamily:'MyriadPro_Regular'});
                Cufon.replace('h2',{fontFamily:'MyriadPro_Light'});
                Cufon.replace('h3',{fontFamily:'MyriadPro_Light'});
                Cufon.replace('.MyriadPro-Semibold',{fontFamily:'MyriadPro_Semibold'});
            </script><script src="/premium/themes/wt-online/js/common.js" type="text/javascript"></script><script type="text/javascript">var dreamstime_myimages='';</script>
            <script src="https://www.dreamstime.com/allimages_new2.php?color=065A8A&orientation=landscape&sp=2&spv=0&images=7&notitle=y&cid=3450970&s=2&local=1&type=&site_adr=https://www.dreamstime.com/" type="text/javascript"></script>
            <link rel="icon" href="https://images.mejoresplantillasgratis.es/images/favicon.ico" type="image/x-icon"/><link rel="shortcut icon" href="https://images.mejoresplantillasgratis.es/images/favicon.ico" type="image/x-icon"/><link href="https://templatehelp.com/codes/popup/css/popup-banner.css" type="text/css" rel="stylesheet"/><script src="https://www.templatehelp.com/codes/popup/js/functions.js" type="text/javascript"></script><script src="https://www.templatehelp.com/codes/popup/js/popup-banner.js" type="text/javascript"></script><script type="text/javascript">
                            jQuery(window).load(function() {
                                $.preloadImages('https://images.templatemonster.com/screenshots/48900/48979-m.jpg','https://images.templatemonster.com/screenshots/53800/53810-m.jpg','https://images.templatemonster.com/screenshots/64900/64954-m.jpg');
                                $('#popup_banner').popupBanner({
                                    aff: 'forevergrey2',

                                    headerURL: '/static/images/top-1.png',
                                    headerHoverURL: '/static/images/top-pressed-1.png',

                                    footerURL: '/static/images/bottom-1.png',
                                    footerHoverURL: '/static/images/bottom-pressed-1.png',

                                    pageId: '/free-template/Beach-Sunset.html',
                                    customCode: '<a class="banner_link" id="popup_banner_top" href="/premium/category/css/"><img src="/static/images/top-1.png"></a><a id="close_button"></a><ul class="templates-row"><li class="template-cell"><a class="template-preview-link" target="_blank" href="https://store.templatemonster.com/wordpress-themes/48979.html?aff=forevergrey2"><img src="https://images.templatemonster.com/screenshots/48900/48979-m.jpg"/></a><ul class="preview-controls"><li><a target="_blank" href="https://store.templatemonster.com/wordpress-themes/48979.html?aff=forevergrey2">View</a></li><li class="last"><a target="_blank" rel="nofollow" href="https://store.templatemonster.com/cart.php?add=48979&amp;aff=forevergrey2">$75</a></li></ul></li><li class="template-cell"><a class="template-preview-link" target="_blank" href="https://store.templatemonster.com/website-templates/53810.html?aff=forevergrey2"><img src="https://images.templatemonster.com/screenshots/53800/53810-m.jpg"/></a><ul class="preview-controls"><li><a target="_blank" href="https://store.templatemonster.com/website-templates/53810.html?aff=forevergrey2">View</a></li><li class="last"><a target="_blank" rel="nofollow" href="https://store.templatemonster.com/cart.php?add=53810&amp;aff=forevergrey2">$69</a></li></ul></li><li class="template-cell last-in-row"><a class="template-preview-link" target="_blank"  id="banner_link_center"href="https://store.templatemonster.com/wordpress-themes/64954.html?aff=forevergrey2"><img src="https://images.templatemonster.com/screenshots/64900/64954-m.jpg" id="img_popup"/></a><ul class="preview-controls"><li><a target="_blank" href="https://store.templatemonster.com/wordpress-themes/64954.html?aff=forevergrey2">View</a></li><li class="last"><a target="_blank" rel="nofollow" href="https://store.templatemonster.com/cart.php?add=64954&amp;aff=forevergrey2">$64</a></li></ul></li></ul><a class="banner_link" id="popup_banner_bottom" href="https://www.templatetuning.com/?aff=forevergrey2"><img src="/static/images/bottom-1.png"></a><a id="roll_up_button"></a>',

                                    show: 2,
                                    showTime: 15
                                });
                            });
                        </script></head><body id="frameContainer" onload="iframeHeight()" onresize="iframeHeight()"><script type="text/javascript">
           var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-1578076-10']);
          _gaq.push(['_trackPageview'],['_trackPageLoadTime']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
          })();
      </script>
    <div id="popup_banner"></div><div id="wrapperTop"><div id="beforeReg"><h1 id="logo"><a title="Mejores Plantillas Gratis" href="/"><span class="MyriadPro-Light">Mejores</span><span class="MyriadPro-Regular">Plantillas</span><span class="MyriadPro-Light">Gratis</span></a></h1><div class="frame_menu">Beach Sunset por freedreamweavertemplates<a style="text-decoration: none;" rel="nofollow" id="download_button" href="/get/1156_5c2ad3c6f7446c81d87f4ceaeb4408f1.zip.html"><span class="button_left_bg"><span class="button_right_bg">Descargar</span></span></a><a target="_blank" href="https://validator.w3.org/check?uri=https://templates.mejoresplantillasgratis.es/Beach-Sunset/index.html">Validar la plantilla</a><img alt="" src="https://images.mejoresplantillasgratis.es/images/comment.gif" class="comment_image"/><a href="/free-template/Beach-Sunset/templateinfo.html">Deje su comentario</a></div><div class="clearing"></div></div></div><div class="clearing"></div><iframe id="tframe" width="100%" frameborder="0" style="" scrolling="yes" src="https://templates.mejoresplantillasgratis.es/Beach-Sunset/index.html">Su navegador no soporta frames</iframe></body></html>