<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Proyecto4Final.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Proyecto4Final.Properties.Settings.conexionBD" connectionString="Data Source=DESKTOP-O4VPI3M;Initial Catalog=proyecto4;Persist Security Info=True;User ID=sa;Password=23762828" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <Proyecto4Final.Properties.Settings>
      <setting name="marcaDB" serializeAs="String">
        <value>slqserver</value>
      </setting>
    </Proyecto4Final.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WsClienteSoap" />
        <binding name="validaTarjetaPortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://23.100.70.231:8087/WsCliente.asmx"
        binding="basicHttpBinding" bindingConfiguration="WsClienteSoap"
        contract="verificaCliente.WsClienteSoap" name="WsClienteSoap" />
      <endpoint address="http://52.177.194.230:8080/tcws/validaTarjeta"
        binding="basicHttpBinding" bindingConfiguration="validaTarjetaPortBinding"
        contract="validarTarj.validaTarjeta" name="validaTarjetaPort" />
    </client>
  </system.serviceModel>
</configuration>